@font-face {
	font-family: 'Aonagi';
	src: url("../fonts/Aonagireisyo_Simo.otf");
}
@font-face {
	font-family: 'Nyala';
	src: url("../fonts/Nyala-focus.ttf");
}

body {
	font-family:Helvetica, "游ゴシック", "Yu Gothic", sans-serif;
}
body {
	min-width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 10px;
}
a:hover{
	text-decoration:underline;
}
#header-wrap {
	width: 100vw;
	height: 500px;
	z-index: -100;
	position: relative;
	overflow: hidden;
}
.bg-centering {
	width: 800px;
	height: 500px;
	margin-left:calc(50vw - 333px);
}
.bg-video {
	width: auto;
	height: 500px;
	z-index: 1;
}

.pattern {
	width: 800px;
	height: 500px;
	background-size: 3px 3px;
	background-image: radial-gradient(rgba(0,0,0,1) 20%, rgba(0,0,0,0.6) 80%);
	position: absolute;
	opacity: 1;
	z-index: 2;
}
.pattern2 {
	width: 800px;
	height: 500px;
	background-size:3px 3px;
	background-image: radial-gradient(rgba(0,0,0,0.3) 20%, rgba(0,0,0,0.2) 80%);
	position: absolute;
	opacity: 1;
	z-index: 2;
}
.loaded{
	margin-left:800px;
	transition: all 1.3s cubic-bezier(.8,0,.3,1);
}
header {
	position: relative;
}
header a {
	color: black;
}

.header-bar {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 55px;
	background: #FFF;
}
.schedule-bg {
	position: absolute;
	right: 60px;
	padding: 5px;
}
.logo-bg {
	position: absolute;
	left: 0;
}
.menu-bg {
	position: absolute;
	right: 17px;
	margin-top: 5px;
	padding-top: 4px;
}
.schedule {
	width: 110px;
	margin-top: 5px;
	padding: 8px 2px;
	color: #000;
	text-align: center;
	line-height: 5px;
	font-size: 16px;
	border: 1px solid #000;
}
.logo {
	font-family: 'Aonagi';
	font-size: 36.5px;
	display: block;
	color: #000;
	padding: 9px 15px;
}
.menu {
	width: 30px;
	font-size: 22px;
	margin-left: 5px;
}
.disc-menu {
	display: block;
	font-size: 10px;
}
.disc-schedule {
	padding: 0 2px;
}
.menu-nav {
	display: none;
}
.header-message {
	position: absolute;
	top: 200px;
	padding:0 20px 0 30px;
}
.header-mainmessage {
	 font-family: "Nyala";
	 font-weight: 200;
	font-size: 84px;
	position: absolute;
	top:250px;
	color:white;
	z-index: 1;
	letter-spacing: 2px;
}
.header-shadow{
	 font-family: "Nyala";
	 font-weight: 200;
	font-size: 134px;
	position: absolute;
	top:200px;
	color:rgb(0,0,0);
	z-index: 0;
}
.header-submessage {
	width: calc(100vw - 50px);
	padding: 10px 0;
	margin-top: 5px;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.7em;
	color: #FFF;
}
h3 {
	font-size: 2.2em;
}
a {
	text-decoration: none;
}
#form-none{
	display:none;
}
#form-fixed{
	animation:nav-open 0.6s;
}
.header-form {
	position: fixed;
	bottom: 20px;
	padding: 15px 2vw;
	font-size: 20px;
	font-weight: 700;
	color: #FBF9FC;
	width: 78vw;
	margin: 0 9vw;
	text-align: center;
	background:#D32B28;
	border-radius:60px;
	box-shadow: 0px 0px 10px 2px rgba(20,20,20,0.2);
	z-index: 100;
	overflow: hidden;
}
.header-form::after{
	  display: block;
  content: '';
	position: absolute;
	  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s cubic-bezier(.8,0,.3,1);
  transition: all .3s cubic-bezier(.8,0,.3,1);
	bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius:60px;
  -webkit-transform: scale(.5);
  transform: scale(.5);

}
.header-form:hover::after {
	  border:1px solid rgba(255,255,255,0.4);
  background: rgba(255,255,255,0.1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.forms {
	color: #FFF;
	float: left;
	width: 100%;
}
.entry-btn {
	margin:auto;
	letter-spacing: 2px;
}
.btn i{
	position: absolute;
	right:8%;
	padding-top:0.3em;
}

.importantbox {
	display:none;
	position: absolute;
	top: 520px;
	width: 80vw;
	max-width: 600px;
	padding: 25px 0 30px 25px;
	font-size: 34px;
	right: 0;
	background: white;
	box-shadow: 1px 1px 5px #444;
	border-radius: 10px 0 0 10px;
}
.importantbox span {
	display: block;
	position: absolute;
	top: 15px;
	left: 60px;
	padding-right: 10px;
	font-size: 0.4em;
}
.btn {
	display: block;
	color: #fff;
	text-align: center;
}
.visitor {
	display: block;
	width: 94%;
	margin: 0 auto
}

.visitor .btn {
	height: 50px;
	display: block;
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
	letter-spacing: 0.01em;
	line-height: 2.0em;
	border: 1px solid #c7c7c7;
	border-radius: 4px;
	width: 100%;
	padding: 9px;
	margin: 0 auto;
	box-sizing: border-box;
	background: #2B5FCC;
	color: #FFF;
}
.small {
	font-size: 0.8em;
	display: block;
}
#main p {
	line-height: 1.8em;
}
.intro {
	font-size: 1.35em;
	font-weight: 500;
	line-height: 1.75em;
}
.major {
	position: relative;
	padding: 0.2em;
	font-size: 2.2em;
	text-align: center;
}
.bg2 .major:after {
	box-sizing: border-box;
	content: '';
	position: absolute;
	bottom: 0;
	display: inline-block;
	width: 10em;
	height: 3px;
	left: 50%;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: #2B5FCC;
}
.bg .major:after {
	box-sizing: border-box;
	content: '';
	position: absolute;
	bottom: 0;
	display: inline-block;
	width: 10em;
	height: 2px;
	left: 50%;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: #fff;
}
.bg2 {
	padding-top: 20px;
}
.bg {
	padding: 10px 30px 120px 30px;
	background: #224ca3;
	color: #fff;
	font-size: 1.0em;
}
.intro-g {
	padding: 10px 30px 30px 30px;
	background: #101010;
	color: #fff;
	font-size: 1.0em;
}
ul {
	padding: 0 20px;
}
li {
	line-height: 1.5em;
	padding: 5px 0;
}
.steps {
	position: relative;
}
.step {
	text-align: center;
	margin: 40px 0;
	min-height: 250px;
}
.stp, .stp-title {
	font-size: 1.4em !imporatant;
}
.stp {
	display: inline-block;
	background:#2B5FCC;
	color: white;
	font-weight: 700;
	line-height:1.1em !important;
	font-size: 1.7em;
	border-radius: 50%;
	width: 25px;
	height: 20px;
	margin: 20px 3px;
	padding-top: 4px;
	top: -3px;
}
.stp-title {
	display: inline-block;
	font-size: 2.0em;
	font-weight: 700;
	margin: 10px 0;
	padding-top: 3px;
}
.stp-icons {
	position: relative;
	width: 2.5em;
	height: 1.3em;
	margin: 10px auto;
	font-size: 8em;
}
.stp1-1 {
	position: absolute;
	font-size: 0.85em;
	left: 0.5em;
	;
}
.stp1-2 {
	position: absolute;
	font-size: 1em;
}
.stp2-1 {
	position: absolute;
	left: 0;
}
.stp2-2 {
	position: absolute;
	font-size: 0.7em;
	left: 1.25em;
	top: 0;
}
.stp2-3 {
	position: absolute;
	right: 0;
}
.stp2-4 {
	position: absolute;
	left: 2.05em;
	top: 1.2em;
	font-size: 0.5em;
}
.stp3-1 {
	position: absolute;
	left: 0;
	font-size: 0.85em;
	top: 0.2em;
}
.stp3-2 {
	position: absolute;
	font-size: 0.7em;
	left: 1.2em;
	top: 0;
}
.stp3-3 {
	position: absolute;
	right: 0;
}
.stp3-4 {
	position: absolute;
	left: 1.9em;
	top: 1.3em;
	font-size: 0.5em;
}
.ex {
	padding-top: 10px;
	font-size: 1.2em;
}
.alt {
	border-top: solid #2B5FCC 1px;
	border-bottom: solid #12B5FCC 1px;
	padding: 0.5em 0 0.5em 1.5em;
}
.alt li {
	line-height: 1.5em;
	padding: 0.5em 0;
}
.bg2 {
	margin: 35px;
}
table {
	width: 100%;
}
table th {
	position: relative;
	vertical-align: top;
	text-align: left;
	font-size: 1.2em;
	width: 40%;
}
.line:after {
	display: block;
	content: "";
	width: 3em;
	height: 1.3px;
	background-color: #ffffff;
	position: absolute;
	top: calc(50% - 1px);
	right: 2em;
}
table td {
	text-align: left;
	width: 85%;
	font-size: 1.2em;
}
table a {
	color: #fff;
	text-decoration: underline;
}
.copyright {
	text-align: center;
}
	.visitor i{
	right:auto;
	padding-left:1.4em;
}
@media screen and (max-width:799px) {
.visitor i{
	padding-top:7px;
}
	.menu-nav {
		display: block;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100vw;
		background: white;
		height: 250px;
		z-index: 10;
	}
	#nav-close {
		bottom: calc(-15vw - 200px);
		transition: all 0.2s;
		-webkit-transition: all 0.2s;
	}
	#nav-open {
		bottom: 0;
		animation-name: nav-open;
		animation-timing-function: ease;
		animation-duration: 0.4s;
	}
	.nav-shadow {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, 0.7);
		z-index: 9;
	}
	#nav-shadow {
		display: none;
	}
	#nav-shadow-active {
		display: block;
		animation-name: shadow-active;
		animation-duration: 0.25s;
	}
	@keyframes shadow-active {
		0% {
			opacity: 0;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes nav-open {
		0% {
			transform: translateY(calc(15vw + 200px));
		}
		100% {
			transform: translateY(0);
		}
	}
	.nav-title {
		font-size: 18px;
		padding: 15px;
	}
	.white {
		color: white;
	}
	.gray {
		color: #222;
	}
	.b-gray {
		background-color: #222;
	}
	.icons {
		overflow: hidden;
		padding-left: 3.5px;
	}
	.r-icon {
		display: block;
		float: left;
		margin: 22px 0 20px 5vw;
		padding-left: 14.5px;
		padding-top: 10px;
		width: 50px;
		height: 50.5px;
		font-size: 39px;
		border-radius: 10px;
	}
	.c-icon {
		display: block;
		float: left;
		margin: 15px 0 25px 5vw;
		width: 66.5px;
		height: 66.5px;
		font-size: 70px;
	}
	.line-icon {
		font-size: 70px;
		padding-left: 0;
	}
	.menu-nav ul {
		position: absolute;
		left: 0;
		top: 140px;
		padding-left: 7px;
		padding-right: 0;
		margin: 0;
	}
	.menu-nav li {
		list-style: none;
		display: block;
		float: left;
		width: 80.5px;
		padding-left:calc(5vw - 14px);
		margin: 0;
		text-align: center;
		font-size: 13px;
	}
	.cancel {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 60px;
		line-height: 60px;
		width: 100vw;
		text-align: center;
		border-top: 1px solid #ccc;
		background: #fcfcfc;
		font-size: 14px;
	}
}
@media screen and (min-width:667px) {
	#header-wrap {
		height: 500px;
		width: 100vw;
	}
	.bg-centering {
		top: calc(250px - 37.5vw);
		margin-left: 0;
	}
	.pattern {
		height: 500px;
		width: 100vw;
		margin: 0;
	}
		.pattern2 {
		height: 500px;
		width: 100vw;
		margin: 0;
	}
	.loaded{
		margin-left:100vw;
	}
	.bg-video {
		height: auto;
		width: 100vw;
		top: calc(250px - 37.5vw);
	}
}
@media screen and (min-width:800px) {
	.ajust{
		display:none;
	}
	.q {
		display: none;
	}
	body {
		font-size: 14px;
	}
	header {
		width: 100vw;
	}

	.header-bar {
		height: 90px;
	}
	.logo-bg {
		position: absolute;
		left: 0;
	}
	.logo {
		padding-top: 5px;
		font-size: 52px;
		margin-top: 14px;
		margin-left: 0;
	}
	.schedule-bg {
		float: none;
		position: absolute;
		left:188px;
		padding:0;
		width:120px;
		margin-top: 4px;
	}
	.schedule {
		margin:20px 0 0;
		width: 120px;
		padding:14px 0;
	}
	.menu-bg {
		float: none;
		position: absolute;
		left:319px;
		height: 80px;
		padding: 0;
		width: calc(20vw + 164px);
	}
	.menu {
		display: none;
	}
	.disc-menu {
		display: none;
	}
	.menu-nav {
		display: block;
		position: absolute;
	}
	.menu-nav ul {
		margin: 19px 0;
		padding: 0;
	}
	.menu-nav li {
		list-style: none;
		display: inline-block;
		text-align: center;
		color: #FFF;
		width: calc(5vw + 38px);
		background: #000;
		font-size: 15px;
		font-weight: 700;
		padding: 12px 0px;
		margin: 0;
		border-radius: 5px;
	}
	.menu-nav a{
		color:#FFF;
	}
	.header-message {
		top: 220px;
		left:60px;
	}
	.header-submessage {
		font-size: calc(0.5vw + 16px);
		width:calc(45vw - 30px);
	}

	.header-form {
		position: absolute;
		width: calc(80vw - 510px);
		padding: 0;
		right:20px;
		height: 46px;
		top: 25px;
		margin:0;
	}
	.entry-btn{
		padding-top:10px;
		font-size:16px;
	}
	.visitor {
		width: 100%;
	}
	.visitor .btn {
		height: 85px;
		line-height: 60px;
		font-size: 1.4em;
		font-weight: 700;
	}
	#main p {
		line-height: 1.5em;
	}
	.intro {
		margin: 0 100px;
	}
	.intro-g h3 {
		font-size: 2.2em;
	}
	.major {
		margin-left: 22px;
	}
	.sec2 .major:after {
		background: none;
		text-align: center;
	}
	.sec2 {
		overflow: hidden;
		width: 100%;
		text-align: center;
		padding: 0;
	}
	.sec2 li {
		float: left;
		width: 30%;
		border-bottom: none;
		border-left: solid 1px #2B5FCC;
		height: 80px;
		margin-bottom: 40px;
		margin-left: 2%;
	}
	.sec2 li p {
		padding-left: 110px;
		font-size: 0.6em;
	}
	.steps {
		overflow: hidden;
	}
	.step {
		float: left;
		width: 33%;
		font-size: 0.7em;
	}
	.step p .btn {
		height: 50px;
		width: 70%;
		line-height: 26px;
		font-size: 1.8em;
	}
	.ex {
		font-size: 1.4em;
	}
	table {
		padding-left: 20%;
		width: 80%;
	}
	.bg{
		padding-bottom:30px;
	}
}
@media screen and (min-width:870px) {
	.header-form{
		width:186px;
		right: calc(50vw - 415px);
	}
	.menu-bg{
		right:calc(50vw - 222px);
		left:auto;
	}
	.menu-nav li{
		width:calc(38px + 5vw);
	}
	.schedule-bg{
		right:calc(70vw - 47px);
		left:auto;
	}
	.logo{
		padding:5px calc(20vw - 159px) 0;
	}
}
@media screen and (min-width:970px) {
	.header-form{
		right:70px;
	}
	.menu-bg{
		right:263px;
	}
	.schedule-bg{
		right:calc(438px + 20vw);
		left:auto;
	}
	.logo{
		padding:5px 35px 0;
	}
}
@media screen and (min-width:1000px) {
	.sec2 li p {
		font-size: 0.7em;
	}
	.step {
		font-size: 0.8em;
	}
	.account-group {
		width: calc(25vw + 100px);
	}
}
@media screen and (min-width:1200px) {
	.header-submessage {
		font-size: 22px;
	}
			.header-submessage span {
		display: block;
	}
}