html {
    height: 100%;
}
body{
	margin: 0;
	padding: 0;
	font-size: 14px;
	color:#111;

	font-family:'Noto Sans JP';
	width:100%;
	position:absolute;
}
#wrapper{
	display:inherit;
    padding:0 0 10px;
		background-color:#eee;
	transition-delay:0.2s;
}
#wrapper-left{
	display:none;
	transition-delay:0.2s;
}
@font-face {
	font-family: 'Aonagi';
	src: url("../fonts/Aonagireisyo_Simo.otf");
}
@font-face {
	font-family: 'Nyala';
	src: url("../fonts/Nyala-focus.ttf");
}
header {
	height:51px;
	position:fixed;
	width:100%;
	background:#fff;
	z-index:200;
}

.logo {
	font-family: 'Aonagi';
	font-size: 34px;
	display: block;
	top:0;
	color: #000;
	padding: 10px 0 5px;
	text-align: center;
}
.menu-bar-wrap{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	right:5px;
	top:5px;
}
.menu-bar{
	display:block;
	background:black;
	width:30px;
	margin:8px 10px;
	height:3px;
}
	
.sub-header{
	padding-top:50px;
  background-image: url(../IMG_0076.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}
.for-new{
	padding:40px 19px;
}
.button{
    text-decoration: none;
    display: block;
    background: #ff8a00;
    background: linear-gradient(#ffa600, #ff8a00);
    color: #FFF;
    padding: 6px 15px;
    border-radius: 4px;
    border: 1px solid #ff8a00;
	text-align: center;
}
section{
	position:relative;
	padding:20px 19px;
	overflow:hidden;
	background:#FFF;
}
.bottom-bar{
	background-color:#f8f8f8;
	z-index:100;
	width:100%;
	margin:0px;
	overflow:hidden;
	position: sticky;
	position: -webkit-sticky;
	top:50px;
}
.b-button{
	padding:10px 0;
	float:left;
	text-align:center;
	width:50%;
	text-decoration:none;
	font-size:16px;
	font-weight:bold;
}
h1{
    clear: both;
    margin:0 0 20px;
    padding: 9px 20px;
    font-size: 16px;
    color: #fff;
    background: #0051e0;
    border-radius: 5px;
}
h1::first-letter {
    border-left: 3px solid #fff;
    padding-left: 15px;
}
h2{
	font-size:13px;
	font-weight:400;
	line-height:1.6;
	margin:0 0 15px;
}
	
h3{
	font-size:13px;
	font-weight:300;
	margin:3px 0 17px;
}
.infoFrame{
	margin:0;
	padding:0;
	border-top:1px solid #EEE;
	border-bottom:1px solid #EEE;
	width:100%;
	position:absolute;
	left:0;
}

.white{
	border:2px solid #EEE;
	color:#111;
}
.gray{
	color:#FFF;
	background:#C4C4C4;
}
#blue{
	font-weight:400;
	transition-delay:0.2s;
	border-bottom:2px solid #ddd;
}
#gray{
	font-weight:700;
	border-bottom: 2px solid #0051e0;
	transition-delay:0.2s;
}
.w-scheduleFrame {
	position:relative;
	border:1px solid #EEE;
	background:#FFF;
	width:100%;
	border-radius:6px;
	padding:0 5px;
}
.disc{
	padding-top:10px;
	color:#111;
}
.disc a{
	color:#111;
}
.scheduleFrame {
	width:100%;
}

.fee table{
	width:100%;
	font-size:14px;
}
td{
	padding:2px calc(15% - 48.3px);
}
.entry {
	width:100%;
}
#entry{
	display:none;
	transition-delay:0.2s;
}
#entry-active{
	display:inherit;
	transition-delay:0.6s;
}
.entry-form {
	width:100%;
	height:10000px;
}
